.checkout {
  background-color: white;
  color: #11212d;
}
/* .check_pd {
  margin-left: 20%;
} */

.main_bg {
  background-color: #9babab;
}
/* cart.css */

/* General styling for the select element */
.select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%; /* Ensure the select box takes the full width */
}

/* Specific styles for mobile devices */
@media (max-width: 640px) {
  .select {
    font-size: 12px; /* Increase font size on mobile for readability */
    padding: 12px; /* Increase padding for better tap targets */
    width: 100%;
  }
}
.hd_col {
  color: #11212d;
}
.hd_col_1 {
  color: #11212d;
  background-color: white;
}
